@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&display=swap');

.banery {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
}
.baner--item {
  padding: 10px;
  border-radius: 50px 50px 50px 50px;
}

.banner--item__2 {
  background-color: rgba(255, 255, 255, 0.86);
}

.navigation {
    height: 400px;
    display: grid;
    grid-template-areas: "header header";
    &__logo {
      width: 430px;
      grid-area: header;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      z-index: 5;
    }
    &__net {
      background-color: rgb(255, 255, 255);
      margin-left: 25px;
      grid-area: header;
     &--background {
       background-color: #000000;
       height: 119px;
       
      }
      &--top {
        margin-left: 2vw;
        background-color: #059316;
        height: 1.7vh;
        font-size: 2vh;
       
      }
      &--middle {
        margin-left: 2vw !important;
        height: 123px;
        font-size: 30px;
        margin: 0;
       &--background {
         position: relative;
         top: -3px;
         height: 121px;
        background-image: url("../assets/img/SiatkaTS.jpg");
        background-size: 2400px;
        
      
       
       }

        &--title {
          position: absolute;
          top: 160px;
          font-size: 2.5vw;
          margin: 0;
          margin-left: 420px;
          padding: 0 15px 0 0px;
          font-weight: 600;
          
         
        }
      }
      &--bottom1 {
        margin-left: 2vw !important;
        background-color: #fafafa;
        height: 1.1vh;
        margin: 0 auto;

      }
      &--bottom {
        margin-left: 2vw !important;
        background-color: #059316;
        height: 5.5vh;
        margin-left: 250px;
       
      }
    }
    &__link {
      display: inline-block;
      font-size: 1.5vw;
      text-decoration: none;
      color: #fff;
     
      &:hover {
        text-align: center;
        background-color: rgb(4, 4, 4);
        cursor: pointer;
      }
    }
  }

  
  .ol {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    margin-left: 320px;
  }
  
  ol a {
    padding: 5px;
    text-align: center;
  }
  
  ol > li {
    
    margin: 0;
    padding: 0;
    float: left; 
    position: relative;
  
  }
  ol > li > a {
    width: 240px;
    text-decoration: none;
    
}

 
  
  ol > li  ul {
    
    display: none;
    position: absolute;
    font-size: 6vw;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  
  }
  ol > li:hover > ul {
    display: block;
    text-align: center;
    font-size: 30px;
  }
  ol > li ul ul {
    left: 240.3px; 
    top: -3px;
    
   
}
  
  ol > li > ul  li {
    background-color: #bd0707;
    position: relative;
    width: 240px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    padding: 5px 0;
  }

  ol > li ul li a {
    display: block;
    width: 100%;
    
}


  ol > li > ul > li:hover {
    
    cursor: pointer;
  }
 
  ol > li > ul > li:hover > ul {
    background-color: #080908;
    display: block;
    text-align: center;
    font-size: 30px;
    
    
}

ol > li ul li a:hover,
ol > li ul li:hover > a {
  background-color: #080908;
     text-decoration: none;
     display: inline-block;
     padding: 5px 0px;
   
   
}
 
  
  





  

